[mysqld]

# ID slave
server-id = 3
 
# Путь к relay логу
relay-log = /var/log/mysql/mysql-relay-bin.log

# Путь к bin логу на Мастере
log_bin = /var/log/mysql/mysql-bin.log

# название базы данных, которая будет реплицироваться
binlog_do_db=socialdb
replicate-do-db=socialdb

# путь к бинарному логу
log_bin=/var/log/mysql/mysql-bin.log

# включаем row based репликацию
binlog_format=ROW

# включаем получинхронную репликацию
#rpl_semi_sync_replica_enabled = true

# GTID
gtid_mode=ON
enforce-gtid-consistency=true

### Error log settings
log_error	= /var/log/mysql/error.log

### General log settings
general_log = 1
general_log_file = /var/log/mysql/general.log
