[mysqld]
       # ID slave
       server-id = 3

       # Путь к relay логу
       relay-log = /var/log/mysql/mysql-relay-bin.log

       # Путь к bin логу на Мастере
       log_bin = /var/log/mysql/mysql-bin.log

       # название Вашей базы данных, которая будет реплицироваться
       binlog_do_db=socialdb
