[mysqld]
# ID master
server-id = 1

# путь к бинарному логу
log_bin=/var/log/mysql/mysql-bin.log

# название Вашей базы данных, которая будет реплицироваться
binlog_do_db=socialdb

replicate-do-db=socialdb

