.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.img {
  margin-bottom: 20px;
  width: 140px;
  height: 140px;
}

.leftColumn {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.rightColumn {
  flex-direction: column;
}

.text {
  margin-bottom: 10px;
}

.friend {
  margin-bottom: 20px;
}

.friendList {
  width: 400px;
}

.link {
  margin-bottom: 20px;
}