.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userWrapper {
  display: flex;
  flex-direction: column;
}

.user {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.img {
  margin-bottom: 20px;
  width: 140px;
  height: 140px;
}

.leftColumn {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.rightColumn {
  flex-direction: column;
}

.text {
  margin-bottom: 10px;
}

.references {
  display: flex;
}

.friend {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: flex-start;
}

.friendList {
 width: 172px;
 margin-right: 20px;
}

.link {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;

  &:active {
    text-decoration: none;
  }
}

.wall {
 width: 320px;
}