.root {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
}

.field {
  margin-bottom: 20px;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  width: 200px;
}