.root {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  margin-bottom: 10px;
}

.field {
  margin-bottom: 20px;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.textarea {
  width: 400px;
  height: 500px;
}

.error {
  font-size: 12px;
  top: -15px;
  position: relative;
  color: red;
}