[mysqld]
# ID master
server-id = 1

# путь к бинарному логу
log_bin=/var/log/mysql/mysql-bin.log

# включаем row based репликацию
binlog_format=ROW

# включаем ведение bin log на slave
log_slave_updates=true

# название Вашей базы данных, которая будет реплицироваться
binlog_do_db=socialdb

replicate-do-db=socialdb

# GTID
gtid_mode=ON
enforce-gtid-consistency=true

# включаем полусинхронную репликацию
# rpl_semi_sync_source_enabled = 0

# ждем подтвержения от одной реплики
# rpl_semi_sync_source_wait_for_replica_count = 1

### Error log settings
log_error	= /var/log/mysql/error.log

### General log settings
general_log = 1
general_log_file = /var/log/mysql/general.log
